.sidebar {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  transition: left 0.3s;
  background-color: $bgWhiteColor;
  z-index: 2;

  &.active {
    left: 0;
  }

  .block {
    @include background-and-shadow(
      $bgWhiteColor,
      $shadowColorOne,
      $shadowColorTwo
    );

    .aside-header {
      height: 80px;
      display: flex;
      align-items: center;
      margin-bottom: 35px;

      &__logo {
        width: 97px;
        height: 51px;
        margin-left: 90px;
      }

      &__back-button {
        position: absolute;
        background: url('../img/close.svg');
        height: 40px;
        width: 40px;
        border: none;
        top: 20px;

        &:hover,
        &:focus {
          transition-duration: 3s;
          opacity: 0.3;
        }
      }

      &__search-button {
        position: absolute;
        background: url('../img/search.svg');
        height: 40px;
        width: 40px;
        border: none;
        left: 224px;

        &:hover,
        &:focus {
          transition-duration: 3s;
          opacity: 0.3;
        }
      }
    }

    aside {
      margin-bottom: 60px;

      .services {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;

        .services-link {
          padding-bottom: 30px;
          padding-left: 24px;
          font-family: 'TT Lakes Compressed Medium', sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          text-decoration: none;
          color: $blackText;

          &:focus,
          &:hover {
            color: $grayText;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: -5px;
              width: 4px;
              height: 32px;
              background-color: $blueDecor;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }

    .aside-footer {
      margin-top: 260px;
      height: 80px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;

      .contacts {
        display: flex;
        align-items: center;

        &__chat-copy-button {
          position: absolute;
          background: url('../img/chatcopy.svg');
          background-repeat: no-repeat;
          height: 40px;
          width: 40px;
          border: none;
          left: 24px;
        }

        &__chat-button {
          position: absolute;
          background: url('../img/chat.svg');
          height: 40px;
          width: 40px;
          border: none;
          left: 84px;
        }

        &__profile-button {
          position: absolute;
          background: url('../img/profile.svg');
          height: 40px;
          width: 40px;
          border: none;
          left: 144px;
        }
      }

      .mail {
        font-family: 'TT Lakes Compressed Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-left: 24px;
        padding-top: 15px;
        text-decoration: none;
        color: $blackText;
      }

      .tel {
        font-family: 'TT Lakes Bold', sans-serif;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        margin-left: 24px;
        margin-bottom: 24px;
        text-decoration: none;
        color: $blackText;
      }

      .lang {
        a {
          color: $blackText;
          text-decoration: none;
          font-family: 'TT Lakes Compressed Medium', sans-serif;
          font-size: 16px;
          text-align: left;

          &:focus,
          &:hover {
            color: $grayText;
          }

          &.lang__ru {
            margin-left: 24px;
          }
        }
      }
    }
  }

  @media (min-width: 1366px) {
    .block {
      left: 320px;
    }

    .aside-header {
      &__search-button {
        left: 284px;
      }

      &__logo {
        position: absolute;
        left: -70px;
      }
    }
  }
}
