// первый свиппер

h3 {
  margin-bottom: 35px;
  margin-top: 35px;
  padding-top: 20px;
  padding-left: 20px;

  &.section-title {
    min-width: 320px;
    height: 50px;
    font-family: 'TT Lakes Compressed Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $grayText;
    background: linear-gradient(270deg, $bgGrayColor 0%, $bgWhiteColor 98.61%);
    border-top: 1px solid $lineBlueColor;
  }
}

.switch-button {
  display: none;

  &::before,
  &::after {
    @include blue-decor($blueDecor);
    transform: rotate(45deg);
  }

  &::before {
    top: 3px;
    left: -20px;
  }

  &::after {
    top: 10px;
    left: -20px;
  }

  &.switch-button_active {
    &::before,
    &::after {
      transform: rotate(-135deg);
    }
  }
}

.swiper-pagination {
  display: block;
  height: 20px;

  &-bullet {
    background: $swiperBullet;
  }

  &-bullet-active {
    background: $swiperBulletActive;
  }
}

.slides {
  display: block;
  max-width: 100%;
  overflow: visible;
}

.link-lenovo,
.link-samsung,
.link-apple,
.link-viewsonic,
.link-bosch,
.link-hp,
.link-aser,
.link-sony {
  background-repeat: no-repeat;
  height: 72px;
  width: 240px;
}

.link-lenovo {
  background: url('../img/lenovo.png');
}
.link-samsung {
  background: url('../img/samsung.png');
}
.link-apple {
  background: url('../img/apple.png');
}
.link-viewsonic {
  background: url('../img/viewsonic.png');
}
.link-bosch {
  background: url('../img/bosch.png');
}
.link-hp {
  background: url('../img/hp.png');
}
.link-aser {
  background: url('../img/aser.png');
}
.link-sony {
  background: url('../img/sony.png');
}

.swiper {
  margin-left: 20px;
  display: block;
  overflow-x: hidden;
  max-width: 100%;
}

.swiper-wrapper {
  display: flex;
  max-width: 100%;
}

.pagination-position {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.swiper-position {
  margin-left: 20px;
}

//768
@media (min-width: 768px) {
  .swiper {
    display: none;
  }

  .container {
    display: block;
    margin-left: 20px;
    overflow-x: hidden;
    max-width: 100%;
  }

  .slides {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;

    &.slides_full {
      max-height: 600px;
    }

    &.slides_cut {
      max-height: 170px;
      overflow: hidden;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .switch-button {
    display: block;
    position: relative;
    margin-left: 45px;
  }

  button {
    border: none;
    background: none;
    color: $blackText;
    font-size: 14px;
    font-family: 'TT Lakes Compressed Medium', sans-serif;
  }
}
