.sidebar-third {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -420px;
  transition: right 0.3s;
  background-color: $bgWhiteColor;
  z-index: 2;

  &.active {
    right: 0;
  }
}

.content {
  margin-right: 0;
}

.block {
  width: 320px;
  height: 1024px;
  right: 0;
  background: $bgWhiteColor;
  box-shadow: 16px 0px 52px 0px $shadowColorOne,
    -2px 0px 4px 0px $shadowColorTwo;
  position: absolute;
}

.aside-header__back-button {
  position: absolute;
  background: url('../img/close.svg');
  height: 40px;
  width: 40px;
  border: none;
  top: 24px;
  left: -20px;

  &:hover,
  &:focus {
    transition-duration: 3s;
    opacity: 0.3;
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-position {
    margin-top: 50px;
  }

  &__description {
    margin-left: 8px;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      width: 4px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $blueDecor;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  color: $grayText;
  align-items: center;

  &__input {
    height: 48px;
    min-width: 288px;
  }

  &__submit {
    width: 136px;
    height: 32px;
    align-self: flex-end;

    span {
      margin-left: 5px;
    }
  }

  input,
  textarea {
    border: 1px solid $lineGrayColor;
    border-radius: 5px;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    color: $lightGrayText;
    padding-left: 10px;
  }

  label {
    margin-bottom: 10px;
  }

  .conf {
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $grayText;

    &-position {
      margin-left: 8px;
    }

    span {
      color: $pinkText;
    }
  }

  button {
    background-color: $pinkDecor;
    color: $bgWhiteColor;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-right: 20px;
  }
}

@media (min-width: 1366px) {
  .aside-header {
    &__back-button {
      left: -120px;
    }

    .title {
      &-position {
        position: absolute;
        top: -75px;
      }
    }

    .form {
      margin-top: 90px;
    }
  }
}
