//второй свипер

h1 {
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 20px;

  &.section-title {
    min-width: 320px;
    height: 80px;
    font-family: 'TT Lakes Compressed Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $grayText;
    background: linear-gradient(270deg, $bgGrayColor 0%, $bgWhiteColor 98.61%);
    border-top: 1px solid $lineBlueColor;
  }
}

.switch-button {
  display: none;
}

.swiper-pagination {
  display: block;

  &-bullet {
    background: $swiperBullet;
  }

  &-bullet-active {
    background: $swiperBulletActive;
  }
}

.slides {
  display: block;
  max-width: 100%;
  overflow: visible;
  gap: 20px;

  .link-laptop,
  .link-tablet,
  .link-pc,
  .link-monitor {
    background-repeat: no-repeat;
    height: 160px;
    width: 240px;
  }

  .link-laptop {
    background: url('../img/cat1.png');
  }
  .link-tablet {
    background: url('../img/cat2.png');
  }
  .link-pc {
    background: url('../img/cat3.png');
  }
  .link-monitor {
    background: url('../img/cat4.png');
  }
}

.swiper {
  margin-left: 20px;
  display: block;
  overflow-x: hidden;
  max-width: 100%;

  .swiper-wrapper {
    display: flex;
    max-width: 100%;
  }
}

.pagination-position {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.swiper-position {
  margin-left: 20px;
}

// 768
@media (min-width: 768px) {
  .swiper {
    display: none;
  }

  .container {
    display: block;
    margin-left: 20px;
    overflow-x: hidden;
    max-width: 100%;
  }

  .slides {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &.slides_full {
      max-height: 600px;
    }

    &.slides_cut {
      max-height: 170px;
      overflow: hidden;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .switch-button {
    display: block;
    position: relative;
    margin-left: 45px;
    border: none;
    background: none;
    color: $blackText;
    font-size: 14px;
    font-family: 'TT Lakes Compressed Medium', sans-serif;
    margin-top: 20px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-left: 2px solid $blueDecor;
      border-top: 2px solid $blueDecor;
      transform: rotate(45deg);
    }

    &::before {
      top: 3px;
      left: -20px;
    }

    &::after {
      top: 10px;
      left: -20px;
    }

    &.switch-button_active::before,
    &.switch-button_active::after {
      transform: rotate(-135deg);
    }
  }
}
