$blackText: #1b1c21;
$grayText: #7e7e82;
$pinkText: #ff3e79;
$lightGrayText: #EAEAEA;
$WhiteText: #ffffff;

$bgWhiteColor: #ffffff;
$bgGrayColor: #f8f8f8;

$lineBlueColor: #d9fff5;
$lineGrayColor: #eaeaea;
$borderBlue: #b8ffec;

$blueDecor: #41f6d7;
$pinkDecor: #ff3e79;

$swiperBullet: #adaaaa;
$swiperBulletActive: #b5b6bc;

$shadowColorOne: #0e185033;
$shadowColorTwo: #454f7e05;
